body {
    margin: 0;
    font-family: Arial;
    background-color: #0d0d0d;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: rgba(0,0,0,0.7);
}

.logo {
    color: #00ffea;
    font-size: 26px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 150px 20px;
    background: url('https://i.imgur.com/7Q77vij.jpeg') center/cover no-repeat;
    color: white;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.join-btn {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background: #00ffea;
    border-radius: 6px;
}
/* TEAMS SECTION */
.teams-section {
    text-align: center;
    padding: 80px 20px;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.player-card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 12px;
    width: 200px;
}

.player-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.player-card h3 {
    color: #00ffea;
    margin: 10px 0;
}
.join-btn:hover {
    background: #00e6d0;
    transform: scale(1.05);
    transition: 0.2s;
}
section {
    padding-top: 40px;
}
footer {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.8);
    margin-top: 50px;
    font-size: 14px;
    color: #888;
}
.tournament-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.tournament-item {
    background: rgba(255, 255, 255, 0.05);
    padding: 15px 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    font-size: 16px;
}
